<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="omvcConsole"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.opensixen.dev.omvc-console.OMVCConsole"
            name="omvcConsole">
         <property
               name="appName"
               value="omvcConsole">
         </property>
      </product>
   </extension>

</plugin>
